<p> Hello {{name_of_a_voter }} in ISA  Election 2016-2017 </p>
{% if latest_question_list %}
<form  method="post">
    <ul>
	
    {% for question in latest_question_list %}
	<li>
	
<h1>{{ question.question_text }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% csrf_token %}
{% for choice in question.choice_set.all %}
   <input type="radio" name="choice{{forloop.parentloop.counter}}" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
	</li>    
{% endfor %}
</ul>
	<input type="submit" value="Vote" />
</form>	
{% else %}
    <p>No polls are available.</p>
{% endif %}